<h3>Create New Album</h3>

<form method="post" action="/albums" >

  <label for="title">Title:</label>
  <input type="text" name="title">

  <label for="artist">Artist:</label>
  <input type="text" name="artist">

  <label for="quantity">Quantity:</label>
  <input type="text" name="quantity">

  <input type="submit" value="Create">

</form>
