<section class="flex_item red">
  <h3><a href="/inventory">View Inventory</a></h3>
</section>

<section class="flex_item red">
  <h4>Create New</h4>
  <a class="big_link" href="./artists/new">Artist</a>
  <a class="big_link" href="./albums/new">Album</a>
</section>
